# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Env local (ne pas commiter)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
